* {
    font-family: JetBrainsMono Nerd Font Mono;
    border: none;
}

window#waybar {
    background-color: rgba(0,0,0,0.8);
    border-bottom: 0px solid #ffffff;
    padding: 0;
    margin-top: 0;
}

#workspaces {
    margin-right: 8px;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #bca5d1;
    background: transparent;
    padding: 5px;
}

#workspaces button.active {
    color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: #452e5a;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    transition: none;
}
